.ng-cloak{
    display: none;
}

.baloon-mid{
    width: 500px;
}

.padded-section {
    float: inherit;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    float: inherit;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
}

.header h3 {
    margin: 0;
}

.body {
    float: inherit;
    width: 100%;
    clear: left;
    padding: 10px 0;
}

.footer {
    float: inherit;
    width: 100%;
    clear: left;
    padding: 5px;
    background: #e0e0e0;
    border-top: 1px solid #d9d9d9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    box-sizing: border-box;
}