.baloon {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #555;
}

.baloon.deflated {
    display: none;
}

.baloon .baloon-main {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.baloon .baloon-outer {
    display: inline-block;
    text-align: initial;
}

.baloon .baloon-inner {
    float: left;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #777;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}